<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>React App</title>
</head>
<body>
    <div id="root"></div>
     <script src="{{ url_for('static', filename='js/app.js') }}"></script>

    <form action="http://localhost:8000/pdb/load_structure" method="post" enctype="multipart/form-data">
        <label for="file">Choose a file:</label>
        <input type="file" name="file" id="file" accept=".pdb, .pdb1" required>
        <br>
        <input type="submit" value="Upload">
    </form>
</body>
</html>
